.profile {
    padding: 25px;
    background: #c286dd
}

.profile-picture {
    height: 75px;
    width: 75px;
}

.profile-picture img {
    height: 100%;
}

.profile-name {
    margin: 10px;
}

.clip-card {
    width: 250px;
    margin: 10px;
}

.figure {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    background: #606060;
}

.figure-img {
    width: 100%;
}

.figure .caption {
    width: 100%;
}