.container-fluid .card {
    margin: auto;
    width: 300px;
    padding: 25px;
}

.container-fluid .card .logo {
    display: flex;
    height: 200px;
    width: 200px;
    margin: auto;
    align-items: center;
    border-radius: 50%;
    background: #6441a5;
}

.logo .img-fluid {
    height: 65%;
    width: 65%;
}