<html>

<head>
    <title>Twitch Clip Dashboard</title>
</head>

<body>
    <table>
        <tr>
            <th>User ID</th>
            <td>{{user.id}}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th>Display Name</th>
            <td>{{user.dispname}}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td><img src='{{user.img}}'></td>
        </tr>
        <tr>
            <td colspan="2">
                <table>
                    {{#clips}}
                    <tr>
                        {{#this}}
                        <td>
                            {{this.id}}
                        </td>
                        {{/this}}
                    </tr>
                    {{/clips}}
                </table>
            </td>
        </tr>
        <tr>
            <th colspan="2"><a href='/logout'><button>Log Out</button></a></th>
        </tr>
    </table>
</body>

</html>