{{#extend "base"}}

{{#content "container_body"}}
<div class="row">
    <table>
        <tr>
            <th>User ID</th>
            <td>{{user.id}}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th>Display Name</th>
            <td>{{user.dispname}}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td><img src='{{user.img}}' height="100px"></td>
        </tr>
    </table>
</div>
<div class="row">
    {{#embed "clip" clips=user_clips}}
    {{/embed}}
</div>

{{#followed_clips as |channel_clips|}}
<div class="row">
    {{#embed "clip" clips=channel_clips}}
    {{/embed}}
</div>
{{/followed_clips}}

{{/content}}

{{!#content "footer" mode="append"}
<link rel="stylesheet" href="CSS/landing.css">
{{/content}}

{{/extend}}