{{#extend "base"}}
    {{#content "container_body"}}
        <div class="display">
            <h2 class="text-center">Twitch Clip Dashboard</h2>
            <form>
                <div class="avatar">
                    <img src="https://cdn1.iconfinder.com/data/icons/video-games-14/24/video-game-logo-twitch-512.png"
                        alt="Avatar">
                </div>
                <div class="text-center">
                    <a class="btn btn_default" href="/auth/twitch">Connect to Twitch</a>
                </div>
            </form>
        </div>
    {{/content}}

    {{#content "footer" mode="append"}}
    <link rel="stylesheet" href="CSS/landing.css">
    {{/content}}
{{/extend}}